<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'images/master_invoice_logo.png' %}" type="image/png">
    <title>Master-Invoice</title>
    <!-- Optionally include your CSS file -->
    <link rel="stylesheet" href="{% static 'user/login.css' %}">
</head> 
<body>
    <div class="container" id="container">
        <!-- Display Django messages -->
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        
        <!-- Registration Form -->
        <div class="form-container sign-up">
            <form method="POST">
                {% csrf_token %}
                
                <div>
                    <label for="id_username">Username</label>
                    <input type="text" name="username" id="id_username" value="{{ register_form.username.value|default:'' }}">
                    {% for error in register_form.username.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
            
                <div>
                    <label for="id_email">Email</label>
                    <input type="email" name="email" id="id_email" value="{{ register_form.email.value|default:'' }}">
                    {% for error in register_form.email.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
            
                <div>
                    <label for="id_password1">Password</label>
                    <input type="password" name="password1" id="id_password1">
                    {% for error in register_form.password1.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
            
                <div>
                    <label for="id_password2">Confirm Password</label>
                    <input type="password" name="password2" id="id_password2">
                    {% for error in register_form.password2.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
            
                <button type="submit" name="register">Register</button>
            </form>
            
        </div>

        <!-- Sign-in Form -->
        <div class="form-container sign-in">
            <form method="POST">
                <h1>Sign In</h1>
                {% csrf_token %}
                {{ login_form.as_p }}
                <p id="error1"></p>
                <button type="submit" name="login">Sign In</button>
            </form>
        </div>

        <!-- Toggle Container -->
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <img src="{% static 'images/master_invoice_logo.png' %}" alt="Master Invoice Logo" class="panel-image">
                    <h1>Welcome To <br>Master Invoice</h1>
                    <p>Already a family member?</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <img src="{% static 'images/master_invoice_logo.png' %}" alt="Master Invoice Logo" class="panel-image">
                    <h1>Master-Invoice</h1>
                    <p>Don't have an account? Join Today</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'javascript/login.js' %}"></script>
</body>
</html>